@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --bg-color: #2D2424;
    --primary-color: #E0C097;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 1.5rem;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 3rem;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 0.7rem;
    margin: 1.5rem;
}

.btn{
    padding: 0.5rem 1rem;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-top: 1.2rem;
    font-family: var(--font-family);
}

.btn:hover{
    cursor: pointer;
    background-color: #947e62;
}

.btn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
  }